body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #506ce8 0%, #b6aebe 100%);
    font-family: Arial,sans-serif;
}

.clock-container {
   position: relative;
   width: 300px;
   height: 300px;
   border-radius: 50%;
   background-color: white;
    box-shadow:0 2px 60px rgba(0,0,0,0.6);
}

.clock{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 50%;

}

.clock::after{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: #667eea;
    top: 50%;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.number{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.number span{
    display: inline-block;
    position: absolute;
    left:50;
    transform: translate(-50%,-50%);

}

.number:nth-child(1) span{top: 20px;left: 50%;}
.number:nth-child(2) span{top: 40px;right:55px;left:auto;}
.number:nth-child(3) span{top: 40%;right:1px;left:auto;}
.number:nth-child(4) span{top: 70%;right:9px;left:auto;}
.number:nth-child() span{top: 70%;right:9px;left:auto;}